@font-face {
  font-family: 'madoka';
  src: url('./font/MadokaRunes-2.0.ttf') format('truetype');
}

@font-face {
  font-family: 'deathnote';
  src: url('./font/deathnote.ttf') format('truetype');
}

/* .ondes {color: #999;} */

body {
  height: 150px;
  /* width: 980px; */
  margin: 10px;
  /* margin: 0 auto; */
}

#A_top {
	font-size: 150%;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888888;
  display: block;
  margin: 1em 1%;
  overflow: hidden;
  width: 100%;
}

#A_top ul {
  margin: 0;
  padding: 0;
}

#A_top ul li {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#A_top>ul>li>a>.caret {
  border-top: 4px solid #aaaaaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

#A_top>ul>li>a {
  color: #aaaaaa;
  display: block;
  line-height: 56px;
  padding: 0 10px;
  text-decoration: none;
}

#A_top>ul>li:hover {
  background-color: rgb(218, 60, 65);
}

.A_top>ul>li:hover>a {
  color: rgb(255, 255, 255);
}

#A_top>ul>li:hover>a>.caret {
  border-top-color: rgb(255, 255, 255);
}

#A_top>ul>li>div {
  background-color: rgb(218, 60, 65);
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 165px;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  transition: opacity 0.2s;
}

#A_top>ul>li:hover>div {
  display: block;
  opacity: 1;
  visibility: visible;
}

#A_top>ul>li>div ul>li {
  display: block;
}

#A_top>ul>li>div ul>li>a {
  color: #ffffff;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
}

#A_top>ul>li>div ul>li:hover>a {
  background-color: rgba(255, 255, 255, 0.1);
}

#B_left {
  width: 170px;
  min-height: 500px;
  height: auto;
  /* background-color: #009b9f; */
  float: left;
  margin-top: 10px;
}

#B_left a {
	display: block;
  background: url(最初の画像のアドレス) no-repeat left center;
  padding: 2px 0px 3px 18px;
  color: #555;
  width: 130px;
  margin: 1px 10px;
  text-decoration: none;
  border-bottom: 1px dotted #666666;
  font-size: 14px;
}

#B_left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#B_left li {
  padding: 0;
  margin: 0;
}

#B_left li a {
  display: block;
  background: url(最初の画像のアドレス) no-repeat left center;
  padding: 2px 0px 3px 18px;
  color: #555;
  width: 130px;
  margin: 1px 10px;
  text-decoration: none;
  border-bottom: 1px dotted #666666;
  font-size: 14px;
}

#B_left li a:hover {
  background: url(入れ替わる画像のアドレス) no-repeat left center;
}

#C_right {
  width: 200px;
  min-height: 500px;
  height: auto;
  /* background-color: #009b9f; */
  float: right;
  margin-top: 10px;
}

#D_center {
	/* font-family: 'MyFont'; */
  margin-left: 200px;
  width: 700px;
  min-height: 500px;
  height: auto;
  /* background-color: #009b9f; */
  margin-top: 10px;
}

#E_bottom {
  margin-top: 10px;
  height: 100px;
  /* background-color: #009b9f; */
}

#madoka {
  font-family: 'MyFont';
}
